@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h1>Success</h1>
Old Price = @TempData["OldPrice"]
<br />
New Price = @ViewData["NewPrice"]
